---
title: "Agentic Program Verification"
excerpt: "<img style='width: 70%;' src='/images/ai-verif.jpg'>"
collection: projects
---

Please check these research papers/reports for more information:

### Research Papers

* [Agentic Verification of Software Systems (FSE'26)](https://arxiv.org/pdf/2511.17330)
* [Automated Lemma Discovery in Agentic Program Verification (ASE'26)](https://arxiv.org/pdf/2603.22114)


### Reports

* [Pre-QED: Environment Specifications for Agentic Verification (arXiv 2026-11)](https://pre-qed.github.io/pre-qed.pdf)
* [AI for Program Verification (AI4X 2025-07)](https://srg.doc.ic.ac.uk/files/papers/ai4verif-ai4x-25.pdf)
