---
title: "Agentic Program Verification"
excerpt: "<img style='width: 70%;' src='/images/ai-verif.jpg'>"
collection: projects
---

Please check these papers for more information:
* [Agentic Program Verification](https://arxiv.org/pdf/2511.17330)
* [AI for Program Verification](https://srg.doc.ic.ac.uk/files/papers/ai4verif-ai4x-25.pdf)
