---
title: "Agentic Program Verification"
excerpt: "<img style='width: 70%;' src='/images/ai-verif.jpg'>"
collection: projects
---

Please check the following research projects (listed from newest to oldest) for more information:

### Pre-QED: Environment Specifications for Agentic Verification

* [Website](https://pre-qed.github.io)
* [Challenges](https://github.com/NUS-Program-Verification/pre-qed-challenge)
* [Report](https://pre-qed.github.io/pre-qed.pdf)

### Automated Lemma Discovery in Agentic Program Verification (ASE'26)

* [Paper](https://arxiv.org/pdf/2603.22114)
* [Code](https://github.com/NUS-Program-Verification/LemmaNet)

### Agentic Verification of Software Systems (FSE'26)

* [Paper](https://arxiv.org/pdf/2511.17330)
* [Code](https://github.com/NUS-Program-Verification/AutoRocq)


### AI for Program Verification (AI4X 2025-07)

* [Report](https://srg.doc.ic.ac.uk/files/papers/ai4verif-ai4x-25.pdf)
